body {
  background-color: #f3f3f3;
}

.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}

.product-container {
  border-color: rgb(255, 255, 255);
  margin: 5px;
  width: 200px;
  height: 150px;
  border: 1px solid rgb(245, 245, 245);
  box-shadow: 0px 0px 5px 0px gray;
  padding: 10px;
  display: flex;
  align-items: flex-end;
  border-radius: 10px;
}

.product-container img {
  height: fit-content;
  width: fit-content;
  max-width: 250px;
}

.product-details {
  width: 70%;
}

.producttitle {
  font-size: 16px;
  font-weight: 600;
}

.price-container {
  display: flex;
  padding: 0px;
  margin: 0px;
  flex-direction: column;
}

.price-container span {
  font-size: 13px;
}

/* ************************************** nav bar  */

.navbar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-color: #ebecf0;
  box-shadow: 1px 1px 2px #babecc, -1px -1px 2px #fff;
  align-items: center;
  height: 70px;
}

.box {
  border-radius: 10px;
  background-color: #ebecf0;
  border: none;
  outline: none;
}

/* ************************************************  form */

form {
  padding: 16px;
  width: 60%;
  height: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ebecf0;
  text-align: center;
}

button,
input {
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 320px;
  padding: 16px;
  background-color: #ebecf0;
  text-shadow: 1px 1px 0 #fff;
}
label {
  display: block;
  margin-bottom: 24px;
  width: 100%;
}
input {
  margin-right: 8px;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
}
input:focus {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

.errorSpan {
  color: #ae1100;
  margin: 0;
  /* margin-bottom: 10px; */
}

button:hover {
  color: #ae1100;
  cursor: pointer;
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}
button:active {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}
.unit {
  border-radius: 8px;
  line-height: 0;
  width: 80px;
  height: 45px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
  font-size: 19.2px;
}

.navbar > .unit {
  border-radius: 8px;
  line-height: 0;
  width: 180px;
  height: 45px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
  font-size: 19.2px;
}
.price-container .unit {
  margin-top: 10px;
  margin-left: 0px;
  height: 10px;
  width: 45px;
  font-size: 12px;
}
.unitX {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 45px;
  /* text-align: center; */
  width: 45px;
  font-size: 16px;
  font-weight: bold;
  /* border-radius: none; */

}
